.Header {
    background-color: #424242 !important;

    .toolbar {
      display: flex;
      justify-content: space-between;
    }

    .logo {
      font-family: Work Sans, sans-serif;
      font-weight: 600;
      color: #FFFEFE;
      text-align: left;
    }

    .btn {
      margin-left: 16px;
    }
}